/** Overlay */

.see-more-overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .50s;
	background-color: #008CBA;
}


.art-category:hover .see-more-overlay{
	opacity: 1;
}